---
import ContactSection from "../../components/ContactSection.astro";
import ThemeLayout from "../../layouts/ThemeLayout.astro";
import { Image } from "astro:assets";
import Hosting from "../../assets/herbegement-web-et-cloud-ticme.png";
import DevOps from "../../assets/maintenance-serveur-web-ticme.png";
import Link from "../../components/Link.astro";
---

<ThemeLayout
    title={"Hébergement web, cloud et maintenance serveur - Ticme"}
    description={"Noms de domaine, hébergement web, base de données, vous ni comprenez que peu. Confiez nous l'installation de votre projet, le suivi ou la maintenance de vos serveurs et de vos bases de données."}
>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-14 mx-auto">
            <div class="flex flex-col w-full mb-10">
                <div class="mb-6">
                    <h2
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Hébergement et maintenance
                    </h2>
                    <div class="h-1 w-20 bg-blue-500 rounded"></div>
                </div>
                <p
                    class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                >
                    Noms de domaine, hébergement web, base de données, vous ni
                    comprenez que peu. Confiez nous l'installation de votre
                    projet, le suivi ou la maintenance de vos serveurs et de vos
                    bases de données.
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                <div
                    class="p-10 bg-blue-200 dark:bg-blue-900 rounded-2xl h-max mx-auto"
                >
                    <Image
                        class="mb-4"
                        src={Hosting}
                        alt="herbegement web, cloud et maintenance serveur ticme"
                    />
                </div>
                <div class="flex flex-col justify-center">
                    <h3
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Hébergement
                    </h3>
                    <p
                        class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                    >
                        Ticme peut vous accompagner de A à Z, c’est-à-dire, du
                        nom de domaine à l’hébergement en passant évidemment par
                        la la création de votre projet. Nous créons, la majorité
                        du temps, des sites vitrine, des sites e-commerce basés
                        sur des CMS ou des applications web et mobile sur
                        mesure.
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10 my-10">
                <div class="flex flex-col justify-center">
                    <h3
                        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                    >
                        Maintenance
                    </h3>
                    <p
                        class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                    >
                        Faites nous confiance pour prendre soins et maintenir
                        vos projets et vous permettre de profiter de vos outils
                        sans soucis et à long termes.
                    </p>
                </div>
                <div
                    class="p-10 bg-blue-200 dark:bg-blue-900 rounded-2xl h-max mx-auto"
                >
                    <Image
                        class="mb-4"
                        src={DevOps}
                        alt="maintenance serveur web ticme"
                    />
                </div>
            </div>
            <Link
                href="/services"
                class="flex justify-end items-center my-5 font-bold text-gray-400 hover:text-blue-600 transition-colors ease-in-out"
            >
                Retour aux services
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600 lucide lucide-undo-2"
                    ><path d="M9 14 4 9l5-5"></path><path
                        d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5v0a5.5 5.5 0 0 1-5.5 5.5H11"
                    ></path></svg
                >
            </Link>
        </div>
    </section>
    <ContactSection />
</ThemeLayout>
