---
import ExpSection from "../components/ExpSection.astro";
import ThemeLayout from "../layouts/ThemeLayout.astro";
import { Image } from "astro:assets";
import Me from "../assets/me.jpg";
---

<ThemeLayout
    title={"A propos de Ticme"}
    description={"Un expert pour prendre soin de vos projets web PHP (Laravel/Symfony), Javascript (React, Vue, Angular), Mobile (React Native), CMS (Wordpress et autres), e-commerce(WooCommerce)"}
>
    <div class="container mx-auto p-5">
        <div class="w-full mx-auto">
            <div class="flex flex-col sm:flex-row mt-10">
                <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                    <div
                        class="w-32 h-32 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400"
                    >
                        <Image
                            class="object-cover object-center rounded-full border-4 border-sky-100 drop-shadow-lg dark:border-gray-400"
                            alt="Lamerant Matthieu - Ticme.fr"
                            src={Me}
                        />
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <h2
                            class="mt-4 text-blue-950 dark:text-gray-300 text-lg"
                        >
                            Lamerant Matthieu
                        </h2>
                        <div class="w-12 h-1 bg-blue-950 rounded m-4"></div>
                        <p
                            class="text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                        >
                            Développeur Web PHP and more
                        </p>
                    </div>
                </div>
                <div
                    class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-300 dark:border-gray-600 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
                >
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        Développeur Web, depuis 2008, je maîtrise et m'intéresse
                        fortement à l'univers des frameworks CSS et outils
                        d'intégration frontend mais aussi tout ce qui entoure
                        l'écosystème du langage Javascript (Vanilla, Jquery,
                        React, Vuejs, Angular, Nodejs) ainsi qu'aux Framework
                        PHP (Laravel, Symfony et autres équivalents Javascript).
                        J'utilise et m'intéresse aussi aux différentes solutions
                        CMS (Wordpress, Drupal) et e-commerce (Woocommerce).
                        <br />
                        <br />
                        Passionné, polyvalent, autodidacte, plusieurs expériences
                        significatives en entreprise au sein du groupe Go&Live, d'IBM
                        CIC Lille, d'OVH ou tout simplement au sein de ma propre
                        petite entreprise Ticme.fr, je m’implique dans les projets,
                        veille et reste attentif aux évolutions en matière de technologies
                        afin de répondre aux besoins. Développement sur mesure, intégration
                        CMS, gestion de projet, SEO et référencement, je peaufine
                        chaque jour de nouvelles techniques tant que faire se peut.
                        Je m’adapte aux langages et techniques de développement pour
                        réaliser des projets, je l'espère, chaque fois meilleurs.
                        <br />
                        <br />
                        Ticme est une micro agence web spécialisée dans la conception
                        de sites internet. Je couvre un large panel de services informatiques
                        : conception et développement d'application web, administration,
                        ui/ux, conception de support de communication print, illustrations
                        et formations. Je travaille avec diverses technologies comme
                        PHP, JavaScript, WordPress et Drupal pour répondre aux besoins.
                        Contactez-moi pour toute demande de devis ou projet web !
                    </p>
                </div>
            </div>
        </div>
    </div>

    <ExpSection />
</ThemeLayout>
