---
import ExpSection from "../components/ExpSection.astro";
import ThemeLayout from "../layouts/ThemeLayout.astro";
import { Image } from "astro:assets";
import Me from "../assets/me.jpg";
import SkillsSection from "../components/SkillsSection.astro";
---

<ThemeLayout
    title={"A propos de Ticme"}
    description={"Un expert pour prendre soin de vos projets web PHP (Laravel/Symfony), Javascript (React, Vue, Angular), Mobile (React Native), CMS (Wordpress et autres), e-commerce(WooCommerce)"}
>
    <div class="container px-5 pt-12 mx-auto">
        <div class="flex flex-col w-full mb-2">
            <div class="mb-6">
                <h2
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                >
                    A propos
                </h2>
                <div class="h-1 w-20 bg-blue-500 rounded"></div>
            </div>
        </div>
    </div>
    <div class="container mx-auto p-5">
        <div class="w-full mx-auto">
            <div class="flex flex-col sm:flex-row mt-10">
                <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                    <div
                        class="md:w-32 md:h-32 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400"
                    >
                        <Image
                            class="object-cover object-center rounded-full border-4 border-sky-100 drop-shadow-lg dark:border-white"
                            alt="Lamerant Matthieu - Ticme.fr"
                            src={Me}
                        />
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <h2
                            class="mt-4 text-blue-950 dark:text-gray-300 text-lg"
                        >
                            Lamerant Matthieu
                        </h2>
                        <div class="w-12 h-1 bg-blue-950 rounded m-4"></div>
                        <p
                            class="text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                        >
                            Développeur Web PHP and more
                        </p>
                    </div>
                </div>
                <div
                    class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-300 dark:border-gray-600 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
                >
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        Développeur Web depuis 2008, je maîtrise et m'intéresse
                        fortement à tout ce qui entoure l'univers des Frameworks
                        PHP (Laravel, Symfony) mais aussi à tout ce qui gravite
                        autour l'écosystème Javascript (React, Next, React
                        Native, Vue, Nest) et intégration front end HTML/CSS
                        (Sass Flexbox, Grid, Bootstrap, Tailwind et autres
                        librairies de composants). En tant que professionnel,
                        j'ai une expérience pratique des méthodologies Agile,
                        notamment Scrum et Kanban (essentiellement sous Gitlab)
                        mais aussi concernant la partie testing (PHPUnit et
                        autres librairies de testing), intégration et
                        déploiement continu (Gitlab CI/CD, Github Actions) ou de
                        la virtualisation de mes environnements (Docker,
                        docker-compose, Dockerfile ou simplement Caddy, Sail ou
                        Lando).
                        <br />
                        <br />
                        Ticme est une micro agence web spécialisée dans la conception
                        de support de communication. Je couvre un large panel de
                        services : conception et développement d'application web
                        et mobile, design ui/ux, print, illustrations, administration
                        et formations. Je travaille avec diverses technologies et
                        languages pour pouvoir répondre à tous les besoins. Contactez-moi
                        pour toute demande de devis ou projet !
                    </p>
                    <div class="flex flex-col w-full my-2">
                        <div class="mb-2">
                            <h2
                                class="sm:text-3xl text-2xl text-left font-medium title-font mb-2 text-blue-500 uppercase"
                            >
                                Skills
                            </h2>
                            <div class="h-1 w-20 bg-blue-500 rounded"></div>
                        </div>
                        <p
                            class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                        >
                            Passionné, polyvalent, autodidacte, plusieurs
                            expériences significatives en entreprise au sein du
                            groupe Go&Live, d'IBM CIC Lille, d'OVH ou tout
                            simplement au sein de ma propre petite entreprise
                            Ticme.fr, je m’implique dans les projets, veille et
                            reste attentif aux évolutions des languages et
                            technologies afin de répondre aux besoins.
                            Développement sur mesure, intégration CMS, gestion
                            de projet, SEO et référencement, je peaufine chaque
                            jour de nouvelles techniques tant que faire se peut.
                            Je m’adapte aux langages et techniques de
                            développement pour réaliser des projets rigoureux,
                            je l'espère chaque fois meilleurs.
                        </p>
                    </div>
                    <SkillsSection styles="px-0" pagis="about" />
                    <ExpSection />
                </div>
            </div>
        </div>
    </div>
</ThemeLayout>
