---
import ThemeLayout from "../layouts/ThemeLayout.astro";
---

<ThemeLayout
    title={"Conditions générales de ventes - Ticme"}
    description={"Les mentions légales du site ticme.fr"}
>
    <div class="container mx-auto p-5">
        <div class="w-full mx-auto">
            <div
                class="sm:pl-8 sm:py-8 sm:border-l border-gray-300 dark:border-gray-600 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
            >
                <h2
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                >
                    Article I – Champs d’applications et modifications des
                    conditions générales de vente.
                </h2>

                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    Les prestations de services effectués par TICME sont
                    soumises aux conditions générales suivantes, auxquelles le
                    client déclare adhérer sans restriction ni réserve dès qu’il
                    adresse une commande de prestation de services.
                    <br />
                    Ces conditions générales de ventes précisent notamment les conditions
                    de commande, de paiement et de livraisons.
                    <br />
                    Comme prévu selon l’article L. 441-6 alinéa 1 du Code de commerce,
                    les conditions générales de vente peuvent être consultées à tout
                    moment en cliquant sur le lien «C.G.V» du site web <a
                        href="https://www.ticme.fr">https://www.ticme.fr</a
                    >.
                    <br />
                    Ainsi toute commande passée par un client auprès de la société
                    TICME impliquera l’accord définitif et irrévocable du client
                    sur l’ensemble des conditions générales de ventes présentées
                    ci-après.
                    <br />
                    TICME se réserve la possibilité d’adapter ou de modifier à tout
                    moment les présentes conditions générales de vente.
                    <br />
                    En cas de modification, il sera appliqué à chaque commande les
                    conditions générales de vente en vigueur au jour de la commande.
                </p>

                <h2
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                >
                    Article II – Prix
                </h2>

                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    TICME se réserve le droit de modifier les prix de ses
                    prestations à tout moment, en fonction du projet de chaque
                    client. Un prix effectué pour une autre précédente
                    prestation aux mêmes clients ou à un client différent ne
                    peut être exigés.
                </p>

                <h2
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                >
                    Article III – Conditions de règlement
                </h2>

                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    1.Délai de paiement
                </h3>

                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    Les délais de paiement sont à réception de facture. Sauf
                    stipulation expresse par écrit de notre part, les travaux
                    seront réglés par chèque ou virement bancaire, à l’exclusion
                    de toute autre forme de paiement :
                </p>

                <h3 class="font-medium title-font mb-2 text-blue-500">
                    Détails des paiements :
                </h3>
                <ul
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                >
                    <li>
                        30% d’acompte non-remboursables à la signature du devis
                        pour le démarrage des travaux.
                    </li>
                    <li>
                        30% validation du cahier des charges (graphisme et
                        maquette).
                    </li>
                    <li>
                        30% validation et présentation fonctionnelle du projet
                    </li>
                    <li>10% livraison mise en ligne</li>
                </ul>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    En cas de non-paiement dans les délais impartis et après
                    relance simple de notre part, par mail ou par courrier, une
                    déconnexion globale ou partielle des éléments peut être
                    réalisée, sans autre préavis et n’entraînant aucune autre
                    compensation.
                </p>

                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    2.Rabais, escomptes, ristournes
                </h3>

                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    En aucun cas nous n’acceptons de rabais, escomptes, ou
                    ristournes imposés pour paiement anticipé, ou pour paiement
                    comptant, sauf accord expressément signé par les deux
                    parties.
                    <br />
                    Au cas où vos conditions sur vos bons de commande viseraient
                    à annuler nos dispositions, il vous appartiendra de nous faire
                    contresigner de façon expresse ces éventuelles conditions.
                    <br />
                    A défaut, elles ne seront pas prises en compte et n’auront pas
                    valeur contractuelle.
                </p>

                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    3.Réserve de propriété et propriété intellectuelle
                </h3>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                >
                    Dans tous les cas l’ensemble des travaux et éléments fournis
                    par nos soins restent notre entière propriété jusqu’au
                    paiement intégral du solde à régler, conformément aux
                    dispositions légales en vigueur.
                    <br />
                    Le transfert des droits de propriété intellectuelle ne sera effectif
                    qu’après que TICME ait reçu le règlement intégral de la commande.
                    <br />
                    En aucun cas, le client ne peut revendre notre travail de création
                    et de programmation, même si nous vous avons cédés les droits
                    d’utilisation.
                </p>
                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    4.Pénalités de retard
                </h3>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    En cas de retard ou défaut de paiement, les pénalités sont
                    fixées à 1.5x le taux d’intérêt légal conformément aux
                    dispositions en vigueur au moment du contrat.
                    <br />
                    Le non-respect de ces conditions de paiement interrompt automatiquement
                    les travaux en cours et suspend les services.
                </p>
                <h2
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                >
                    Article IV – Livraison
                </h2>

                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    Les produits et/ou services peuvent être livrés sur un
                    support physique ou via les technologies des réseaux. Le
                    choix sera arrêté par les deux parties au moment de la
                    commande. Si aucun choix spécifique n’est fait, la livraison
                    est exclusivement par réseau.
                </p>

                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    1.Délais de livraison
                </h3>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    TICME s’engage à tout mettre en oeuvre pour procéder à la
                    réalisation des services commandés par le client, mais ne
                    souscrit aucune obligation de délais, sauf convention
                    particulière.<br />

                    La publication par TICME du service est tributaire de la
                    fourniture par le client des informations nécessaires à la
                    réalisation de la commande, iconographie, contenus textuels
                    ou tous autres éléments.<br />

                    Les délais indiqués sur nos devis et bon de commande sont
                    indicatifs, ils ne constituent pas un engagement formel.<br
                    />

                    En cas de dépassement ils ne peuvent ouvrir à des dommages
                    et intérêts ou autre forme de pénalités.<br /><br />

                    Ils sont indiqués dans le cadre d’un respect réciproque des
                    délais.<br />

                    Si vous avez à fournir des éléments pour la réalisation de
                    toute ou partie des travaux et que vous livrez ces éléments
                    avec du retard, nous ne pouvons garantir un délai simplement
                    augmenté du même retard, il risque d’être plus long suivant
                    le planning de production en cours à ce moment là.
                </p>
                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    2.Force majeure
                </h3>

                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    En cas d’événements extérieurs mettant en cause le bon
                    fonctionnement ou la livraison telle qu’elle était prévue
                    par contrat, nous ne pouvons être tenus pour responsables.
                    <br />
                    Exemple d’événements : Grèves, interruption totale ou partielle
                    des services de télécommunication, de transfert de données, des
                    systèmes satellitaires, d’infection virale informatique généralisée,
                    problèmes liés à la plateforme d’hébergement de votre site, intrusion
                    informatique, …
                </p>

                <h2
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                >
                    Article V – Documentation
                </h2>

                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    1.Confidentialité
                </h3>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                >
                    TICME s’engage à tout mettre en œuvre pour garantir la
                    confidentialité des informations qui lui sont transmises.
                    <br />
                    TICME ne saurait toutefois être tenu responsable d’éventuelles
                    divulgations intervenues sur le réseau Internet ou chez des tiers.
                </p><p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                </p><h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    2.Documents transmis
                </h3>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    En aucun cas TICME ne pourra être tenu responsable de la
                    perte de documents requis pour la réalisation des services
                    commandés. Le client est tenu de n’envoyer que des copies ou
                    des documents sans valeur de remplacement.
                </p>
                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    3.Ethique
                </h3>

                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    TICME se réserve le droit de refuser tout document, texte ou
                    image, contraire à son éthique, aux bonnes mœurs ou non
                    conforme à la législation en vigueur.
                </p>

                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    4.Sécurité
                </h3>

                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                >
                    La responsabilité de TICME ne saurait être engagée en cas
                    d’introduction malveillante sur l’espace web du client ou
                    pour un piratage des boites à lettre électroniques du client
                    et ce, malgré toutes les mesures de sécurité prises par
                    TICME et ses fournisseurs.
                </p>

                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    5.Indemnité
                </h3>

                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    Le client convient de défendre, garantir et de mettre à
                    couvert TICME contre toute perte, dommage ou réclamation
                    concernant l’usage des services fournis par TICME au client
                    aux termes des présentes, y compris à titre non limitatif :
                    toute fausse publicité, responsabilité de quelque nature que
                    ce soit découlant de tout produit ou service vendu ou
                    proposé par le client, « copyright » ou marque déposée,
                    interruption ou défaut de fonctionnement des services ou
                    pour tout contenu soumis ou proposé par le client.
                </p>

                <h2
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                >
                    Article VI – Utilisation – Limites de responsabilité
                </h2>

                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    1.Utilisation du service
                </h3>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    Il est entendu que nous ne pourrons être tenus responsables
                    des mauvaises utilisations faites avec les outils
                    interactifs ou non qui seront le fruit de notre travail.
                    <br />
                    Les éléments constitutifs de votre site ou autres outils informatiques
                    sont soumis à des règles pouvant varier suivant les lois des
                    pays où se trouvent vos utilisateurs; nous ne pourrons être tenus
                    pour responsables en cas de problèmes avec les contenus et les
                    textes ou images -fixes ou mobiles- mis en scène sur votre applicatif
                    multimédia.
                    <br />
                    Il vous appartient de vérifier si les éléments (textes, images,
                    sons, vidéo, autres, …) utilisés respectent le droit.
                    <br />
                    Ainsi les textes, images, illustrations, et autres éléments fournis
                    par vos soins pour la création de graphismes ou autres devrons
                    vous appartenir en termes de droits d’utilisation.
                    <br />
                    En aucun cas vous ne pouvez nous demander une quelconque indemnisation
                    sur des éventuelles conséquences générées par un outil interactif
                    fourni par nos soins.
                    <br />
                    Après fourniture des travaux, vous disposez de 8 jours ouvrés
                    pour faire opposition ou refuser toute ou partie de notre travail,
                    passé ce délai, les travaux fournis sont considérés comme acceptés
                    sans réserve et le paiement est dû.
                </p>
                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    2.Offres de TICME
                </h3>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    Toutes les informations contenues sur notre site sont
                    susceptibles de changer sans préavis.
                    <br />
                    Aucune information du site ne peut nous être opposée à des fins
                    de vente forcée ou à des fins de remise ou dédommagement quelconque.
                    <br />
                    Il vous appartient de vérifier auprès de nos services que les
                    offres présentées sur le site ont valeur d’engagement et ont
                    cours.
                    <br />
                    En aucun cas nous n’acceptons des conditions de commande visant
                    à annuler ou modifier nos propres conditions de vente ou de garantie.
                    <br />
                    Ni d’escompte imposé pour paiement comptant.
                    <br />
                    Aucune information ne peut être reproduite sans notre accord
                    écrit.
                </p>
                <h3
                    class="sm:text-xl text-xl font-medium title-font mb-2 text-blue-500"
                >
                    3.Hébergement – Noms de domaines
                </h3>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100 mb-2"
                >
                    TICME se réserve le droit de faire effectuer les prestations
                    d’hébergement et de locations de noms de domaines, chez un
                    prestataire extérieur à l’entreprise.
                    <br />
                    Dans ce cas précis, les conditions générales de ventes du prestataire
                    s’applique pour l’hébergement et la location de noms de domaines.
                </p>
                <h2
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                >
                    Article VII – Litiges
                </h2>
                <p
                    class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                >
                    Loi applicable – Le présent contrat est soumis au droit
                    Français.
                    <br />
                    A défaut de solution amiable entre les parties pour tout différent
                    survenant entre elles à propos de la formation, de l’exécution,
                    de l’interprétation ou de la résiliation du présent contrat,
                    il est fait attribution de compétences aux tribunaux de Lille,
                    nonobstant pluralité de défendeurs ou appels en garantie, et
                    ce même en cas de référé.
                </p>
            </div>
        </div>
    </div>
</ThemeLayout>
