---
import ThemeLayout from "../layouts/ThemeLayout.astro";
---

<ThemeLayout
    title={"Mentions Légales - Ticme"}
    description={"onditions générales de ventes Article I – Champs d’applications et modifications des conditions générales de ventes. Les prestations de services effectués par TICME sont soumises aux conditions générales suivantes, auxquelles le client déclare adhérer sans restriction ni réserve dès qu’il adresse une commande de prestation de services."}
>
    <div class="container mx-auto p-5">
        <div class="w-full mx-auto">
            <div class="flex flex-col sm:flex-row mt-10">
                <div
                    class="sm:pl-8 sm:py-8 sm:border-l border-gray-300 dark:border-gray-600 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
                >
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        Le présent site est la propriété de TICME.
                    </p>
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        Nom du Site : https://www.ticme.fr
                    </p>
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        Email : hello@ticme.fr
                    </p>
                    <br />
                    <br />
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        <strong>Auto-entrepreneur :</strong><br />
                        Raison sociale : Lamerant Matthieu – ticme.fr<br />
                        N° SIRET : 514 625 896 00014. <br />
                    </p>
                    <br />
                    <br />
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        L’utilisateur du site Internet reconnaît disposer de la
                        compétence et des moyens nécessaires pour accéder et
                        utiliser ce site. Il reconnaît également avoir pris
                        connaissance de la présente notice légale et s’engage à
                        la respecter. En conformité avec les dispositions de la
                        loi du 6 janvier 1978 relative à l’informatique, aux
                        fichiers et aux libertés, le traitement automatisé des
                        données nominatives réalisées à partir du site Internet
                        « www.ticme.fr » a fait l’objet d’une déclaration auprès
                        de la Commission nationale de l’informatique et des
                        libertés (CNIL).
                    </p>
                    <br />
                    <br />
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        L’utilisateur est informé que lors de ses visites sur le
                        site, un cookie peut s’installer automatiquement sur son
                        logiciel de navigation. Un cookie est un élément qui ne
                        permet pas d’identifier l’utilisateur mais sert à
                        enregistrer des informations relatives à la navigation
                        de celui-ci sur le site Internet. L’utilisateur pourra
                        désactiver ce cookie par l’intermédiaire des paramètres
                        figurant au sein de son logiciel de navigation.
                        L’utilisateur dispose d’un droit d’accès, de
                        modification, de rectification et de suppression des
                        données qui le concernent (article 34 de la loi »
                        Informatique et Libertés « ). Pour l’exercer,
                        l’utilisateur peut s’adresser auprès du Webmaster visé
                        plus haut.
                    </p>
                    <br />
                    <br />
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        Toute représentation totale ou partielle de ce site par
                        quelque procédé que ce soit, sans l’autorisation
                        expresse de l’exploitant du site Internet est interdite
                        et constituerait une contrefaçon sanctionnée par les
                        articles L 335-2 et suivants du Code de la propriété
                        intellectuelle. Il en est de même des éventuelles bases
                        de données figurant sur le site Internet qui sont
                        protégées par les dispositions de la loi du 11 juillet
                        1998 portant transposition dans le Code de la propriété
                        intellectuelle (CPI) de la directive européenne du 11
                        mars 1996 relative à la protection juridique des bases
                        de données.
                    </p>
                    <br />
                    <br />
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        Les marques de l’exploitant du site Internet et de ses
                        partenaires, ainsi que les logos figurant sur le site
                        sont des marques (semi-figuratives ou non) déposées.
                    </p>
                    <br />
                    <br />
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        Les liens hypertextes mis en place dans le cadre du site
                        Internet en direction d’autres ressources présentes sur
                        le réseau de l’Internet, et notamment vers ses
                        partenaires ont fait l’objet d’une autorisation
                        préalable expresse et écrite.
                    </p>
                    <br />
                    <br />
                    <p
                        class="text-justify w-full text-lg font-light leading-loose text-blue-950 dark:text-gray-100"
                    >
                        Les utilisateurs visiteurs du site Internet ne peuvent
                        mettre en place un hyperlien en direction de ces sites
                        sans l’autorisation expresse et préalable de
                        l’exploitant du site Internet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ThemeLayout>
