---
import Link from "./Link.astro";
const { href, from } = Astro.props;
---

<ol
    class="flex items-center whitespace-nowrap mt-10 justify-end"
    aria-label="Breadcrumb"
>
    <li class="inline-flex items-center">
        <a
            class="flex items-center text-sm text-gray-500 font-bold hover:text-blue-600 focus:outline-none focus:text-blue-600 dark:focus:text-blue-500"
            href={href}
        >
            {from}
            <svg
                class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-undo-2"
                ><path d="M9 14 4 9l5-5"></path><path
                    d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5v0a5.5 5.5 0 0 1-5.5 5.5H11"
                ></path></svg
            >
        </a>
    </li>
</ol>
