---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header id="top" class="text-gray-600 body-font">
    <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
    >
        <nav
            class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
            <HeaderLink
                href="#hello"
                class="mr-5 font-bold text-blue-500 hover:text-blue-600 transition-colors ease-in-out"
            >
                Home
            </HeaderLink>
            <HeaderLink
                href="#about"
                class="mr-5 font-bold text-gray-400 hover:text-blue-600 transition-colors ease-in-out"
            >
                About
            </HeaderLink>
            <HeaderLink
                href="/blog"
                class="mr-5 font-bold text-gray-400 hover:text-blue-600 transition-colors ease-in-out"
            >
                Blog
            </HeaderLink>
            <ThemeIcon />
        </nav>
    </div>
</header>
