---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { Image } from "astro:assets";
import Logo from "../assets/flower-ticme.webp";
const today = new Date();
---

<header id="top" class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-row p-5 items-center">
        <div class="flex justify-between">
            <HeaderLink href="/" class="mr-5 font-bold">
                <Image
                    class="object-cover object-center w-12 h-12"
                    alt="Logo Ticme.fr"
                    src={Logo}
                />
            </HeaderLink>
        </div>
        <nav
            class="hidden lg:inline-block md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
            <ul class="flex flex-row list-none items-center">
                <li>
                    <HeaderLink
                        href="/"
                        class="mr-5 font-bold text-gray-400 hover:text-blue-600 transition-colors ease-in-out"
                    >
                        Home
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink
                        href="/about"
                        class="mr-5 font-bold text-gray-400 hover:text-blue-600 transition-colors ease-in-out"
                    >
                        A propos
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink
                        href="/services"
                        class="mr-5 font-bold text-gray-400 hover:text-blue-600 transition-colors ease-in-out"
                    >
                        Services
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink
                        href="/projects"
                        class="mr-5 font-bold text-gray-400 hover:text-blue-600 transition-colors ease-in-out"
                    >
                        Projets
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink
                        href="/blog"
                        class="mr-5 font-bold text-gray-400 hover:text-blue-600 transition-colors ease-in-out"
                    >
                        Blog
                    </HeaderLink>
                </li>
                <li><ThemeIcon /></li>
            </ul>
        </nav>
        <div class="lg:hidden ml-auto">
            <button class="navbar-burger flex items-center text-blue-600 p-3">
                <svg
                    class="block h-4 w-4 fill-current"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <title>Mobile menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"
                    ></path>
                </svg>
            </button>
        </div>
    </div>
</header>
<div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
        class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
    >
        <div class="flex items-center mb-8">
            <HeaderLink href="/" class="mr-auto font-bold">
                <Image
                    class="object-cover object-center w-12 h-12"
                    alt="Logo Ticme.fr"
                    src={Logo}
                />
            </HeaderLink>
            <button class="navbar-close">
                <svg
                    class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div>
            <ul>
                <li class="mb-1">
                    <HeaderLink
                        href="/"
                        class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                    >
                        Home
                    </HeaderLink>
                </li>
                <li class="mb-1">
                    <HeaderLink
                        href="/about"
                        class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                    >
                        A propos
                    </HeaderLink>
                </li>
                <li class="mb-1">
                    <HeaderLink
                        href="/services"
                        class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                    >
                        Services
                    </HeaderLink>
                </li>
                <li class="mb-1">
                    <HeaderLink
                        href="/projects"
                        class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                    >
                        Projets
                    </HeaderLink>
                </li>
                <li class="mb-1">
                    <HeaderLink
                        href="/blog"
                        class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                    >
                        Blog
                    </HeaderLink>
                </li>
            </ul>
        </div>
        <div class="mt-auto">
            <p class="my-4 text-xs text-center text-gray-400">
                <span>Copyright © {today.getFullYear()}</span>
            </p>
        </div>
    </nav>
</div>

<script is:inline>
    // Burger menus
    document.addEventListener("astro:page-load", function () {
        // open
        const burger = document.querySelectorAll(".navbar-burger");
        const menu = document.querySelectorAll(".navbar-menu");

        if (burger.length && menu.length) {
            for (var i = 0; i < burger.length; i++) {
                burger[i].addEventListener("click", function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle("hidden");
                    }
                });
            }
        }

        // close
        const close = document.querySelectorAll(".navbar-close");
        const backdrop = document.querySelectorAll(".navbar-backdrop");

        if (close.length) {
            for (var i = 0; i < close.length; i++) {
                close[i].addEventListener("click", function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle("hidden");
                    }
                });
            }
        }

        if (backdrop.length) {
            for (var i = 0; i < backdrop.length; i++) {
                backdrop[i].addEventListener("click", function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle("hidden");
                    }
                });
            }
        }
    });
</script>
