---
import HeaderLink from "./HeaderLink.astro";
const { pagis, styles } = Astro.props;
---

<section
    id="about"
    class={`${
        pagis ? "" : "bg-blue-50"
    } dark:bg-slate-950 text-blue-950 dark:text-gray-300 body-font`}
>
    <div class={`${styles ? styles : "px-5"} container mx-auto py-12`}>
        {
            pagis != "about" && (
                <div class="flex flex-col w-full mb-10">
                    <div class="mb-6">
                        <h2 class="sm:text-3xl text-2xl text-left font-medium title-font mb-2 text-blue-500 uppercase">
                            Skills
                        </h2>
                        <div class="h-1 w-20 bg-blue-500 rounded" />
                    </div>
                    <p class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300">
                        Passionné, polyvalent et autodidacte, je reste attentif
                        aux évolutions en matière de technologies web afin de
                        répondre aux besoins et tâches que l’on me confie.
                    </p>
                </div>
            )
        }

        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                <h2
                    class="font-medium title-font tracking-widest text-blue-950 dark:text-gray-300 my-4 text-center md:text-left uppercase underline"
                >
                    Design
                </h2>
                <nav
                    class="flex flex-col items-start text-left -mb-1 space-y-2.5"
                >
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Adobe CS
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Photoshop, Illustrator, Indesign
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Première, After Effect
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Figma
                    </div>
                </nav>
                <h2
                    class="font-medium title-font tracking-widest text-blue-950 dark:text-gray-300 mt-5 mb-4 text-sm text-center sm:text-left uppercase underline"
                >
                    Agilité
                </h2>
                <nav
                    class="flex flex-col items-start sm:text-left text-center -mb-1 space-y-2.5"
                >
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Scrum
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Kanban
                    </div>
                </nav>
            </div>
            <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                <h2
                    class="font-medium title-font tracking-widest text-blue-950 dark:text-gray-300 my-4 text-sm text-center sm:text-left uppercase underline"
                >
                    Front-end
                </h2>
                <nav
                    class="flex flex-col items-start text-left -mb-1 space-y-2.5"
                >
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>HTML/CSS, SASS, Flexbox, Grid
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Bootstrap, Tailwind
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Blade, Twig
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Javascript, jQuery
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>React / Nextjs
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Vue / Nuxt
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Typescript
                    </div>
                </nav>
            </div>
            <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                <h2
                    class="font-medium title-font tracking-widest text-blue-950 dark:text-gray-300 my-4 text-sm text-center sm:text-left uppercase underline"
                >
                    Back-end
                </h2>
                <nav
                    class="flex flex-col items-start sm:text-left text-center -mb-1 space-y-2.5"
                >
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Laravel
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Symfony
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Nestjs
                    </div>
                </nav>
                <h2
                    class="font-medium title-font tracking-widest text-blue-950 dark:text-gray-300 mt-5 mb-4 text-sm text-center sm:text-left uppercase underline"
                >
                    CMS
                </h2>
                <nav
                    class="flex flex-col items-start sm:text-left text-center -mb-1 space-y-2.5"
                >
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Wordpress, Woocommerce
                    </div>
                </nav>
                <h2
                    class="font-medium title-font tracking-widest text-blue-950 dark:text-gray-300 mt-5 mb-4 text-sm text-center sm:text-left uppercase underline"
                >
                    Mobile
                </h2>
                <nav
                    class="flex flex-col items-start sm:text-left text-center -mb-1 space-y-2.5"
                >
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>React Native
                    </div>
                </nav>
            </div>
            <div class="p-4 lg:w-1/4 sm:w-1/2 w-full">
                <h2
                    class="font-medium title-font tracking-widest text-blue-950 dark:text-gray-300 my-4 text-sm text-center sm:text-left uppercase underline"
                >
                    Other
                </h2>
                <nav
                    class="flex flex-col items-start sm:text-left text-center -mb-1 space-y-2.5"
                >
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Versioning : Git, github, gitlab
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>CI/CD : github actions, gitlab
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>PhpUnit, Pest
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Phpstan, Larastan
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Jest, Vitest, RTL
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Docker, Docker compose
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Sail, Lando
                    </div>
                    <div>
                        <span
                            class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="3"
                                class="w-3 h-3"
                                viewBox="0 0 24 24"
                            >
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Lamp, laragon
                    </div>
                </nav>
            </div>
        </div>
        <div class="flex flex-row md:hidden">
            <span class="h-[1px] w-20 bg-gray-300 rounded mt-8 mx-auto"></span>
        </div>
    </div>
</section>
