<section class="text-gray-600 body-font hidden lg:block">
    <div class="container px-5 py-24 mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col p-0 py-8 mb-2">
                <h2
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-blue-500 uppercase"
                >
                    Expériences
                </h2>
                <p
                    class="text-justify text-lg font-light leading-loose text-blue-950 dark:text-gray-300"
                >
                    Mes expériences les plus significatives en entreprise.
                </p>
            </div>

            <div class="flex flex-col max-w-lg mx-auto relative">
                <input
                    id="article-01"
                    type="radio"
                    name="slider"
                    class="w-10 h-10 bg-red-900 sr-only peer/01"
                    checked
                />
                <input
                    id="article-02"
                    type="radio"
                    name="slider"
                    class="bg-red-900 sr-only peer/02"
                />
                <input
                    id="article-03"
                    type="radio"
                    name="slider"
                    class="bg-red-900 sr-only peer/03"
                />
                <input
                    id="article-04"
                    type="radio"
                    name="slider"
                    class="bg-red-900 sr-only peer/04"
                />
                <input
                    id="article-05"
                    type="radio"
                    name="slider"
                    class="bg-red-900 sr-only peer/04"
                />

                <div
                    class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/01:[&_article]:ring peer-focus-visible/01:[&_article]:ring-indigo-300 peer-checked/01:relative peer-checked/01:z-50 peer-checked/01:translate-x-0 peer-checked/01:scale-100 peer-checked/01:[&>label]:pointer-events-none peer-checked/02:-translate-x-20 peer-checked/02:scale-[83.75%] peer-checked/02:z-40 peer-checked/03:-translate-x-40 peer-checked/03:z-30 peer-checked/04:-translate-x-40 peer-checked/04:opacity-0 peer-checked/05:-translate-x-40"
                >
                    <label class="absolute inset-0" for="article-01"
                        ><span class="sr-only">OVH, Roubaix</span></label
                    >
                    <article class="bg-white p-6 rounded-lg shadow-2xl">
                        <header class="mb-2">
                            <img
                                class="inline-flex rounded-full shadow mb-3"
                                src="./ovh.webp"
                                width="44"
                                height="44"
                                alt="Icon OVH"
                            />
                            <h2 class="text-xl font-bold text-blue-500">
                                OVH <span class="text-slate-900 text-sm"
                                    >- Roubaix</span
                                >
                            </h2>
                            <a
                                class="text-sm font-medium text-blue-500 hover:underline"
                                href="https://www.ovhcloud.com/"
                                target="_blank">OVH.com</a
                            >
                        </header>
                        <div
                            class="text-sm leading-relaxed text-slate-500 space-y-2 mb-2"
                        >
                            <h3 class="font-medium text-center md:text-left">
                                Développeur web
                            </h3>
                            <h4 class="text-sm mb-2 text-center md:text-left">
                                Octobre 2009 - Mars 2010
                            </h4>
                            <p class="font-light">
                                UX/UI Designer, Webmaster (cloud manager,
                                ovh.com, ovh.biz, soyoustart.com)
                            </p>
                            <p class="font-light">
                                Intégrateur (HTML, CSS, JS/Jquery, XML/XSLT).
                            </p>
                        </div>
                    </article>
                </div>

                <div
                    class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/02:[&_article]:ring peer-focus-visible/02:[&_article]:ring-indigo-300 peer-checked/01:translate-x-20 peer-checked/01:scale-[83.75%] peer-checked/01:z-40 peer-checked/02:relative peer-checked/02:z-50 peer-checked/02:translate-x-0 peer-checked/02:scale-100 peer-checked/02:[&>label]:pointer-events-none peer-checked/03:-translate-x-20 peer-checked/03:scale-[83.75%] peer-checked/03:z-40 peer-checked/04:-translate-x-40 peer-checked/04:z-30 peer-checked/05:-translate-x-40 peer-checked/05:opacity-0"
                >
                    <label class="absolute inset-0" for="article-02"
                        ><span class="sr-only"
                            >IBM Client Innovation Center</span
                        ></label
                    >
                    <article
                        class="bg-white p-6 space-y-2 rounded-lg shadow-2xl"
                    >
                        <header class="mb-2">
                            <img
                                class="inline-flex shadow mb-3"
                                src="./ibm-logo.webp"
                                width="60"
                                height="44"
                                alt="Icon IBM Client Innovation Center"
                            />
                            <h2 class="text-xl font-bold text-blue-500">
                                IBM CIC<span class="text-slate-900 text-sm"
                                    >- Lille</span
                                >
                            </h2>
                            <a
                                class="text-sm font-medium text-blue-500 hover:underline"
                                href="https://www.ibm.com/"
                                target="_blank">IBM.com</a
                            >
                        </header>
                        <div
                            class="text-sm leading-relaxed text-slate-500 space-y-2 mb-2"
                        >
                            <h3 class="font-medium text-center md:text-left">
                                Développeur web
                            </h3>
                            <h4 class="text-sm mb-2 text-center md:text-left">
                                Novembre 2016 - Août 2017
                            </h4>
                            <p class="font-light text-center md:text-left">
                                Projet Nutrixo Ecommerce : Magento 2 - Paris
                            </p>
                            <p class="font-light text-center md:text-left">
                                IBM Watson : Node, Angular, Data - Lille
                                Euratechnologie
                                <br />
                                <br />
                                <br />
                            </p>
                        </div>
                    </article>
                </div>

                <div
                    class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/03:[&_article]:ring peer-focus-visible/03:[&_article]:ring-indigo-300 peer-checked/01:translate-x-40 peer-checked/01:z-30 peer-checked/02:translate-x-20 peer-checked/02:scale-[83.75%] peer-checked/02:z-40 peer-checked/03:relative peer-checked/03:z-50 peer-checked/03:translate-x-0 peer-checked/03:scale-100 peer-checked/03:[&>label]:pointer-events-none peer-checked/04:-translate-x-20 peer-checked/04:scale-[83.75%] peer-checked/04:z-40 peer-checked/05:-translate-x-40 peer-checked/05:z-30"
                >
                    <label class="absolute inset-0" for="article-03"
                        ><span class="sr-only">TICME Bailleul</span></label
                    >
                    <article class="bg-white p-8 rounded-lg shadow-2xl">
                        <header class="mb-2">
                            <img
                                class="inline-flex mb-3"
                                src="./flower-ticme.webp"
                                width="44"
                                height="44"
                                alt="Icon"
                            />
                            <h2 class="text-xl font-bold text-blue-500">
                                TICME <span class="text-slate-900 text-sm"
                                    >- Bailleul</span
                                >
                            </h2>
                        </header>
                        <div
                            class="text-sm leading-relaxed text-slate-500 mb-2"
                        >
                            <h3 class="font-medium">Développeur web</h3>
                            <h4 class="text-sm mb-2">
                                Juin 2021 - aujourd’hui
                            </h4>
                            <p class="font-light">
                                Laravel/Symfony, HTML5/CSS/SASS, Flexbox/Grid,
                                JavaScript
                            </p>
                            <p class="font-light">
                                React/Next, Vuejs/Nuxt, React Native
                            </p>
                            <p class="font-light">
                                Wordpress et autres conception graphique
                            </p>
                        </div>
                    </article>
                </div>

                <div
                    class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/04:[&_article]:ring peer-focus-visible/04:[&_article]:ring-indigo-300 peer-checked/01:translate-x-40 peer-checked/01:opacity-0 peer-checked/02:translate-x-40 peer-checked/02:z-30 peer-checked/03:translate-x-20 peer-checked/03:scale-[83.75%] peer-checked/03:z-40 peer-checked/04:relative peer-checked/04:z-50 peer-checked/04:translate-x-0 peer-checked/04:scale-100 peer-checked/04:[&>label]:pointer-events-none peer-checked/05:-translate-x-20 peer-checked/05:scale-[83.75%] peer-checked/05:z-40"
                >
                    <label class="absolute inset-0" for="article-04"
                        ><span class="sr-only">GO&LIVE, Rodez</span></label
                    >
                    <article class="bg-white p-6 rounded-lg shadow-2xl">
                        <header class="mb-2">
                            <img
                                class="inline-flex mb-3"
                                src="./go-and-live-rodez.webp"
                                width="44"
                                height="44"
                                alt="Icon GO&LIVE, Rodez"
                            />
                            <h2 class="text-xl font-bold text-blue-500">
                                GO&LIVE <span class="text-slate-900 text-sm"
                                    >- Montpellier</span
                                >
                            </h2>
                            <a
                                class="text-sm font-medium text-blue-500 hover:underline"
                                href="https://www.goandlive.com/"
                                >GoAndLive.com</a
                            >
                        </header>
                        <div
                            class="text-sm leading-relaxed text-slate-500 mb-2"
                        >
                            <h3 class="font-medium text-center md:text-left">
                                Développeur web
                            </h3>
                            <h4 class="text-sm mb-2 text-center md:text-left">
                                Novembre 2017 à Février 2021
                            </h4>
                            <p class="font-light text-center md:text-left">
                                Refondre sous Laravel, développer et maintenir
                                les sites du groupe Go&Live : Nacel, American
                                Village, Sans frontières, CLC, SEJ.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="flex flex-row md:hidden">
            <span class="h-[1px] w-20 bg-gray-300 rounded mt-8 mx-auto"></span>
        </div>
    </div>
</section>
